body{
    margin: 0;
    background-image: url(/linkedin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#clockcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    color: azure;
    backdrop-filter: blur(3px);
    background-color: rgba(128, 128, 128, 0.075);
    width: 100%;
}