@import url();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header, .home, .footer {
    width: 100%;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 3s ease forwards;
    animation-delay: 0.5s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover, 
.navbar a.active {
    color: rgb(66, 230, 239);
}

/* HOME */
.Port {
    background-position: 100px;
    background-size: 35%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%; 
}

.Port-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 3s ease forwards;
    animation-delay: 0.5s;
}

.Port-content {
    max-width: 600px;
    position: fixed;
    margin-left: 390px;
    margin-top: -200px;
}

.Port-content a,p {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 20px;
    color: #ededed;
    text-align: center;
    text-decoration: none;
}

.Port-content a,p:hover {
    color: rgb(222, 222, 24);
    animation: grow 3s infinite;
}

h1 {
    font-size: 35px;
    color: rgb(66, 230, 239);
    position: relative;
}

/* ICONS */
.icons {
    position: absolute;
    bottom: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.icons a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 3s ease forwards;
    animation-delay: 0.5s;
}

.icons a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 45%;
    font-size: 20px;
    color: rgb(66, 230, 239);
    text-decoration: none;
    margin-right: 40px;
}

/* CONTACT ME */
.icons a:nth-child(1) {
    color: #ededed;
    align-content: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 900;
    margin-left: 75px;
    width: 25%;
}

.icons a:hover { 
    animation: grow 1s infinite;
}

/* IMAGE */
.home-imghover {
    position: absolute;
    top: 1;
    right: 50px;
    width: 400px;
    height: 85%;
    background: transparent;
    transition: 3s;
}

.home-imghover:hover {
    background: #081b29;
    opacity: .8;
    cursor: pointer;
}

@keyframes showRight {
    100% { width: 0;}
}

@keyframes glow {
    50%{box-shadow: 0px 0px 20px rgb(66, 230, 239);}
}

@keyframes colorChange {
    0%{background-color: #081b29}
    20%{background-color:#0e3049}
    40%{background-color:#15476c}
    60%{background-color:#1c5c8d}
    80%{background-color:#267dc0}
    100%{background-color:#2e97e7}
}

@keyframes grow {
    50%{transform: scale(1.15, 1.15);}
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .header {
        padding: 20px 5%;
    }

    .logo {
        font-size: 20px;
    }

    .navbar a {
        font-size: 16px;
        margin-left: 15px;
    }

    .Port-content {
        position: relative;
        margin-left: 0;
        margin-top: 0;
        max-width: 90%;
    }

    .Port-content a, .Port-content p {
        font-size: 18px;
    }

    .icons {
        bottom: 20px;
        width: 80%;
    }

    .icons a {
        width: 35px;
        height: 35px;
    }

    .home-imghover {
        width: 100%;
        right: 0;
        height: auto;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .header {
        padding: 20px 8%;
    }

    .logo {
        font-size: 22px;
    }

    .navbar a {
        font-size: 17px;
        margin-left: 25px;
    }

    .Port-content {
        position: relative;
        margin-left: 0;
        margin-top: 0;
        max-width: 80%;
    }

    .Port-content a, .Port-content p {
        font-size: 19px;
    }

    .icons {
        bottom: 15px;
        width: 70%;
    }

    .icons a {
        width: 35px;
        height: 35px;
    }

    .home-imghover {
        width: 90%;
        right: 0;
        height: auto;
    }
}

@media (min-width: 768px) {
    .header {
        padding: 20px 10%;
    }

    .logo {
        font-size: 25px;
    }

    .navbar a {
        font-size: 18px;
        margin-left: 35px;
    }

    .Port-content {
        position: fixed;
        margin-left: 390px;
        margin-top: -200px;
    }

    .Port-content a, .Port-content p {
        font-size: 20px;
    }

    .icons {
        bottom: 10px;
        width: 50%;
    }

    .icons a {
        width: 40px;
        height: 40px;
    }

    .home-imghover {
        width: 400px;
        height: 85%;
    }
}

@media (min-width: 1200px) {
    .header {
        padding: 20px 10%;
    }

    .logo {
        font-size: 30px;
    }

    .navbar a {
        font-size: 20px;
        margin-left: 40px;
    }

    .Port-content {
        max-width: 600px;
        position: fixed;
        margin-left: 390px;
        margin-top: -200px;
    }

    .Port-content a, .Port-content p {
        font-size: 20px;
    }

    .icons {
        bottom: 10px;
        width: 50%;
    }

    .icons a {
        width: 40px;
        height: 40px;
    }

    .home-imghover {
        width: 400px;
        height: 85%;
    }
}
